obj/ElasticDemo.fsproj.nuget.g.targets
bin/Debug/netcoreapp2.0/_ElasticTalk.dll
bin/Debug/netcoreapp2.0/_ElasticTalk.pdb
bin/Debug/netcoreapp2.0/_ElasticTalk.deps.json
bin/Debug/netcoreapp2.0/_ElasticTalk.runtimeconfig.json
bin/Debug/netcoreapp2.0/_ElasticTalk.runtimeconfig.dev.json
bin/Debug/netcoreapp2.0/ElasticDemo.dll
bin/Debug/netcoreapp2.0/ElasticDemo.pdb
bin/Debug/netcoreapp2.0/ElasticDemo.deps.json
bin/Debug/netcoreapp2.0/ElasticDemo.runtimeconfig.json
bin/Debug/netcoreapp2.0/ElasticDemo.runtimeconfig.dev.json
obj/_ElasticTalk.fsproj.nuget.cache
obj/_ElasticTalk.fsproj.nuget.g.props
obj/_ElasticTalk.fsproj.nuget.g.targets
obj/_ElasticTalk.fsproj.proj-info.targets
obj/ElasticDemo.fsproj.nuget.cache
obj/ElasticDemo.fsproj.nuget.g.props
obj/ElasticDemo.fsproj.proj-info.targets
obj/fsac.cache
obj/project.assets.json
obj/Debug/netcoreapp2.0/_ElasticTalk.dll
obj/Debug/netcoreapp2.0/_ElasticTalk.pdb
obj/Debug/netcoreapp2.0/_ElasticTalk.fsproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/ElasticDemo.dll
obj/Debug/netcoreapp2.0/ElasticDemo.pdb
obj/Debug/netcoreapp2.0/ElasticDemo.fsproj.FileListAbsolute.txt
Secrets.fs
.vscode/launch.json
.vscode/tasks.json
